<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @answer.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @answer.author %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @answer.rating %>
</p>

<%= link_to 'Edit', edit_question_answer_path(@question, @answer) %> |
<%= link_to 'Back', @question %>
